/*
 * main.sass
 */
/* Variables */
/*Universal Styles */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background: #333333;
  overflow-x: hidden; }

body {
  color: #333333;
  background: white;
  font-size: 110%;
  font-family: 'Source Sans Pro', sans-serif; }
  @media all and (max-width: 800px) {
    body {
      font-size: 90%; } }

.wrap {
  max-width: 920px;
  width: 100%;
  margin: auto; }
  .wrap.narrow {
    padding-right: 15%; }
  .wrap.margins {
    margin: 60px auto;
    margin-bottom: 150px; }
  @media all and (max-width: 920px) {
    .wrap {
      padding-left: 10px;
      padding-right: 10px; } }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  border: 0px none; }

/*WHUT?*/
.spin {
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.6);
  animation: spin 4s ease infinite alternate; }

@keyframes spin {
  30% {
    transform: scale(0.9) rotate(0); }
  100% {
    transform: scale(0.9) rotate(360deg); } }

a {
  text-decoration: none;
  transition: all 300ms linear; }

.content a {
  color: #16577d; }

.content a:hover {
  text-decoration: underline; }

h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 0.8em; }

h6 {
  font-size: 0.4em; }

p {
  margin-bottom: 1em;
  line-height: 1.6em; }

.list li {
  margin-left: 20px; }

@font-face {
  font-family: 'FranchiseRegular';
  src: url("../fonts/franchise-bold-webfont.eot");
  src: url("../fonts/franchise-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/franchise-bold-webfont.woff") format("woff"), url("../fonts/franchise-bold-webfont.ttf") format("truetype"), url("../fonts/franchise-bold-webfont.svg#FranchiseRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'social-icons';
  src: url("../fonts/social-icons.eot?-p6562k");
  src: url("../fonts/social-icons.eot?#iefix-p6562k") format("embedded-opentype"), url("../fonts/social-icons.woff?-p6562k") format("woff"), url("../fonts/social-icons.ttf?-p6562k") format("truetype"), url("../fonts/social-icons.svg?-p6562k#social-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon-file-pdf:before, .icon-link:before, .icon-arrow-down:before, .icon-rocket:before, .icon-comment:before, .icon-reddit:before, .icon-skype:before, .icon-twitter:before, .icon-stackoverflow:before, .icon-vimeo:before, .icon-googleplus:before, .icon-github:before, .icon-forrst:before, .icon-mail:before {
  font-family: 'social-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
  transition: color 200ms ease; }

.icon-file-pdf:before {
  content: "\e600"; }

.icon-link:before {
  content: "\e601"; }

.icon-reddit:hover {
  color: #FF4500; }

.icon-reddit:before {
  content: "\e002"; }

.icon-twitter:hover {
  color: #00a0d1; }

.icon-twitter:before {
  content: "\e018"; }

.icon-stackoverflow:hover {
  color: #FE7A15; }

.icon-stackoverflow:before {
  content: "\e10c"; }

.icon-vimeo:hover {
  color: #86c9ef; }

.icon-vimeo:before {
  content: "\e00e"; }

.icon-googleplus:hover {
  color: #db4a39; }

.icon-googleplus:before {
  content: "\e0a2"; }

.icon-github:hover {
  color: #4183c4; }

.icon-github:before {
  content: "\e0a8"; }

.icon-forrst:hover {
  color: #5b9a68; }

.icon-forrst:before {
  content: "\e000"; }

.icon-mail:before {
  content: "\e004"; }

.icon-rocket:before {
  content: "\e001"; }

.icon-skype:hover {
  color: #00aff0; }

.icon-comment:hover {
  color: #fcd20b; }

.site-header {
  border-bottom: 3px solid #841118;
  padding: 20px 0;
  background: #EFEEEE;
  position: relative;
  overflow: hidden; }
  .site-header .logo {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin-right: -0.25em;
    color: inherit; }
  .site-header .name {
    font-size: 2.8em;
    line-height: 0.9em;
    color: #16577d;
    font-family: 'FranchiseRegular';
    font-weight: normal; }
  .site-header .tagline {
    font-family: 'Bitter', serif;
    font-style: italic;
    font-size: 1.21em;
    line-height: 1em;
    font-weight: normal; }
  .site-header .site-navigation {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-align: right;
    font-size: 1.1em; }
    .site-header .site-navigation ul {
      margin-right: -20px; }
    .site-header .site-navigation li {
      display: inline-block;
      vertical-align: middle;
      list-style: none;
      border-left: 1px solid #841118; }
      .site-header .site-navigation li:first-child {
        border-left: 0; }
    .site-header .site-navigation a {
      padding: 20px;
      color: inherit;
      text-decoration: none; }
    .site-header .site-navigation a:hover, .site-header .site-navigation .current a {
      color: #16577d; }
    .site-header .site-navigation .nav-toggle {
      display: none;
      position: absolute;
      top: 20px;
      right: 10px;
      height: 60px;
      width: 60px;
      background: none;
      border: none;
      font-size: 1.8em;
      color: #16577d;
      cursor: pointer;
      text-align: right;
      outline: none;
      text-indent: -9999px; }
      .site-header .site-navigation .nav-toggle:before {
        content: "\2630"; }
      .site-header .site-navigation .nav-toggle.toggled:before {
        content: "\D7"; }
  @media all and (max-width: 590px) {
    .site-header .logo {
      width: 90%; }
    .site-header .site-navigation {
      display: block;
      width: 100%;
      margin: 0; }
      .site-header .site-navigation ul {
        overflow: hidden;
        max-height: 0;
        margin-top: 0;
        transition: all 300ms linear;
        text-align: center; }
      .site-header .site-navigation .nav-toggle {
        display: block; }
        .site-header .site-navigation .nav-toggle.toggled + ul {
          margin-top: 20px;
          max-height: 60px; } }

.hero {
  position: relative;
  height: 150px;
  padding: 2% 0;
  overflow: hidden;
  font-size: 1.1em;
  color: white;
  text-shadow: 0px 1px 0px black; }
  @media all and (max-width: 800px) {
    .hero {
      padding: 3% 0;
      height: 120px; }
      .hero .bg {
        right: -30%; } }
  @media all and (max-width: 620px) {
    .hero {
      padding: 5% 0;
      height: 110px; }
      .hero .bg {
        right: auto;
        left: -80%; } }
  .hero .wrap {
    position: relative;
    z-index: 10; }
  .hero h2 {
    font-size: 2.1em; }
    .hero h2 span {
      font-size: 0.8em; }
  .hero a {
    color: inherit;
    text-decoration: underline; }
  .hero .bg {
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    right: -0.25em;
    height: auto;
    min-height: 100%;
    min-width: 102%; }
  .home .hero {
    font-size: 1.4em;
    height: 450px;
    padding: 8% 0;
    color: #841118;
    text-shadow: none;
    color: #16577d; }
    @media all and (min-width: 1600px) {
      .home .hero {
        height: 600px;
        padding: 10% 0; } }
    @media all and (max-width: 1350px) {
      .home .hero {
        height: 350px; }
        .home .hero .bg {
          top: -10%;
          right: -1.8%; } }
    @media all and (max-width: 1100px) {
      .home .hero .bg {
        right: -7%; } }
    @media all and (max-width: 890px) {
      .home .hero {
        font-size: 98%;
        height: 200px; }
        .home .hero .bg {
          top: -40%;
          right: -30%; } }
    @media all and (max-width: 620px) {
      .home .hero {
        font-size: 90%;
        height: 150px; } }
    @media all and (max-width: 590px) {
      .home .hero {
        padding: 3% 0;
        font-size: 87%; } }
    .home .hero h2 {
      line-height: 1em; }
    .home .hero span, .home .hero strong, .home .hero p {
      background: rgba(255, 255, 255, 0.6);
      padding: 0.01em 0.2em;
      padding-left: 0;
      display: inline-block; }
    .home .hero strong {
      padding-bottom: 0.2em; }

footer {
  padding: 40px 0;
  background: #333333;
  color: white;
  text-align: center; }
  footer a {
    color: white;
    text-decoration: underline; }
  footer .icon-rocket {
    display: block;
    font-size: 4em;
    color: #FFDF00;
    transition: all 1100ms ease-in;
    pointer-events: none; }
  footer .rocketry:hover .icon-rocket, footer .rocketry:focus .icon-rocket {
    transform: rotate(10deg) translateY(-1200px);
    color: #841118;
    font-size: 10em; }
  @media all and (max-width: 620px) {
    footer {
      padding: 20px 0; } }

/* Page Parts */
.preview {
  padding: 60px 0; }
  @media all and (max-width: 800px) {
    .preview {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media all and (max-width: 620px) {
    .preview {
      padding: 20px 10px; }
      .preview.portfolio .portfolio-items li {
        display: block;
        width: 100%;
        margin: 0;
        margin-bottom: 20px; }
      .preview .portfolio-page-items {
        margin: 20px auto; }
      .preview .portfolio-page-items li {
        margin-bottom: 20px;
        padding: 20px 0; } }
  .preview.banner {
    padding: 20px 0;
    display: block; }
    .preview.banner h3, .preview.banner p {
      display: inline-block;
      vertical-align: baseline;
      margin: 0;
      margin-right: 20px; }
  .preview.red {
    background-color: #841118;
    color: white; }
    .preview.red a {
      text-decoration: underline; }
  .preview.blue {
    background-color: #16577d;
    color: white; }
  .preview.blue a, .preview.red a {
    color: #CCC; }
  .preview .wrap > h2, .preview.wrap > h2 {
    font-size: 2.2em;
    margin-bottom: 0.5em; }
  .preview.portfolio .portfolio-items a {
    text-decoration: none;
    color: white; }
  .preview.portfolio .portfolio-items strong {
    display: block;
    margin-left: 2px; }
  .preview.portfolio .portfolio-items img {
    display: block;
    width: 100%;
    height: auto;
    border: 2px solid #841118;
    border-radius: 2px; }
  .preview.portfolio .portfolio-items li {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-right: -0.25em;
    margin-left: 2%;
    list-style: none; }
    .preview.portfolio .portfolio-items li:first-child {
      margin-left: 0; }
  .home .preview.blog article {
    font-size: 90%; }
  .home .preview.blog h2 {
    font-size: 1.6em; }
  .preview.blog header {
    margin-bottom: 0.8em; }
  .preview.blog .read-more {
    display: block; }

.portfolio .firefox-addons.wrap {
  margin: 60px auto;
  margin-top: 40px; }

.portfolio .firefox-addons h2 {
  padding-left: 110px;
  height: 100px;
  line-height: 100px;
  background: url("/assets/firefox-logo.png") no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .portfolio .firefox-addons h2 {
      background-image: url("../assets/firefox-logo-pixel-doubled.png");
      background-size: 100px 104px; } }

.portfolio .firefox-addons p, .portfolio .firefox-addons ul {
  margin-left: 110px; }

@media all and (max-width: 590px) {
  .portfolio .firefox-addons h2 {
    font-size: 1.6em; } }

.find-more-github {
  margin: 60px auto; }
  .find-more-github a:before {
    font-size: 2.4em;
    margin-right: 20px; }

.portfolio-page-items {
  margin-top: 40px; }
  .portfolio-page-items li {
    list-style: none;
    margin-bottom: 40px;
    padding: 40px 0;
    /*Alternate images down the page*/ }
    .portfolio-page-items li:nth-child(2n) img {
      float: right; }
  .portfolio-page-items img {
    width: 45%;
    height: auto;
    float: left;
    vertical-align: top;
    margin-right: -0.25em;
    border: 2px solid #841118; }
  .portfolio-page-items .info {
    width: 55%;
    display: inline-block;
    vertical-align: top;
    padding: 0 3%; }
  .portfolio-page-items .links {
    margin-top: 0.6em;
    margin-bottom: 1.2em;
    border-bottom: 1px solid #841118;
    padding-bottom: 0.4em; }
    .portfolio-page-items .links a {
      display: inline-block;
      margin-right: 20px; }
    .portfolio-page-items .links p {
      margin-bottom: 0; }

.contact .content .wrap {
  margin-top: 40px;
  margin-bottom: 120px; }

.contact .left-col {
  display: inline-block;
  vertical-align: top;
  width: 64%;
  margin-right: 2%; }
  .contact .left-col h3 {
    margin-bottom: 0.5em; }
  @media all and (max-width: 590px) {
    .contact .left-col {
      width: 100%;
      margin: 0;
      display: block; } }

.contact .right-col {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  padding: 20px 0;
  padding-left: 2%;
  margin-left: 0.25em;
  border-left: 2px solid #841118; }
  .contact .right-col a {
    font-size: 1.4em; }
    .contact .right-col a:before {
      margin-right: 5px; }
  @media all and (max-width: 590px) {
    .contact .right-col {
      margin: 0;
      width: 100%;
      display: block;
      padding-left: 0;
      border-left: none;
      border-top: 2px solid #841118; } }

.contact .follow li {
  font-size: 1.8em;
  list-style: none;
  display: inline-block;
  position: relative;
  margin-right: 0.8em;
  margin-bottom: 0.8em; }

.contact .follow a {
  display: block;
  text-indent: -9999px;
  border: medium none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: transparent;
  overflow: hidden; }

.post-list {
  margin: 60px auto;
  font-size: 90%; }
  .post-list article {
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 5px;
    border-top: 1px solid #CCCCCC; }
    .post-list article header {
      font-size: 90%; }
    .post-list article:first-child {
      border-top: none; }
    .post-list article p, .post-list article .read-more {
      display: block; }

article.full {
  margin: 60px auto; }
  @media all and (max-width: 620px) {
    article.full {
      margin: 20px auto; } }

article header {
  font-size: 120%;
  margin-bottom: 1.5em; }

article .meta {
  color: #444;
  font-size: 0.7em;
  margin-top: 4px;
  margin-bottom: 10px; }
  article .meta em {
    text-transform: uppercase;
    display: inline-block;
    margin-left: 20px; }

.blue article .meta {
  color: #CCC; }

article .post-content {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #841118; }
  article .post-content img {
    max-width: 100%;
    display: block;
    margin: 1em 0; }

article.article-preview .post-content {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0; }

article blockquote {
  border-left: 4px solid #CCC;
  padding-left: 0.8em; }

article ul, article ol {
  margin-bottom: 1.5em; }

article li {
  margin-bottom: 0.2em;
  padding-left: 0.4em;
  margin-left: -0.4em; }

article hr {
  margin: 1.5em 0;
  border-top: none;
  border-bottom: 2px solid #CCCCCC; }

.twitter-mention-button {
  display: inline-block;
  vertical-align: middle; }

.pagination {
  padding-top: 30px;
  border-top: 1px solid #CCCCCC;
  margin-bottom: 60px;
  margin-top: -30px;
  font-size: 1.2em; }

/*# sourceMappingURL=style.css.map */