* { padding: 0; margin: 0; }
@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	font-size: 100%;
	color: #F4F1F1;
	font-family: 'Open Sans', sans-serif;
	background-color: #333333;
}

a {
	color: inherit;
	text-decoration: none;
	padding-bottom: 0.05em;
	border-bottom: 0.2em solid #AFADAD;
	-webkit-transition: all 300ms ease;
	   -moz-transition: all 300ms ease;
	    -ms-transition: all 300ms ease;
	     -o-transition: all 300ms ease;
	        transition: all 300ms ease;
}
	a:hover {
		border-bottom: 0.2em solid #FFDF00;
	}

section {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20%;
	position: relative;
	text-align: center;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
	section h1 {
		font-size: 8.6em;
		font-family: 'FranchiseRegular';
		color: #FFDF00;
		margin-bottom: 0.2em;
	}
	section p {
		font-size: 1.4em;
		line-height: 1.8em;
	}
/*height media query*/
@media screen and (max-height: 550px) {
	section {
		padding-top: 1%;
	}
}
/*width media queries*/
@media screen and (max-width: 550px) {
	body {
		font-size: 80%;
	}
}