* { padding: 0; margin: 0; }

@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.scroll {
	font-family: 'FranchiseRegular';
	position: fixed;
	display: block;
	z-index: 101;
	bottom: 10px;
	right: 10px;
	color: #FFDF00;
	font-size: 1.2em;
	border-bottom: none;
	-webkit-animation: bounce 1.5s 1s infinite;
	   -moz-animation: bounce 1.5s 1s infinite;
	    -ms-animation: bounce 1.5s 1s infinite;
	     -o-animation: bounce 1.5s 1s infinite;
	        animation: bounce 1.5s 1s infinite;
}
	.scroll:hover {
		border-bottom: none;
	}

a {
	color: inherit;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 3px solid #AFADAD;
	-webkit-transition: all 300ms ease;
	   -moz-transition: all 300ms ease;
	    -ms-transition: all 300ms ease;
	     -o-transition: all 300ms ease;
	        transition: all 300ms ease;
}
	a:hover {
		border-bottom: 3px solid #FFDF00;
	}

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #333333;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	border-bottom: 3px solid #AFADAD;
}
	nav ul li {
		list-style: none;
		display: inline-block;
		margin-right: 120px;
		color: #F4F1F1;
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
	}
		nav ul li a {
			border-bottom: none;
			padding: 0 20px;
			display: block;
		}
		nav ul li:hover {
			border-bottom: 3px solid #333333;
		}
			nav ul li a:hover {
				border: none;
			}
		nav ul li:last-child {
			margin-right: 0;
		}

section {
	min-height: 900px;
	padding: 120px 15%;
	border-bottom: 4px solid #FFDF00;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
	section header {
		font-size: 1.6em;
		margin-bottom: 80px;
	}

#front {
	background-color: #333333;
	color: #F4F1F1;
	position: relative;
	z-index: 101;
	font-size: 180%;
}
	#front h1 {
		font-size: 2.8em;
		font-weight: normal;
	}
	.name {
		font-family: 'FranchiseRegular';
		color: #FFDF00;
		font-size: 1.1em;
	}
	#front h2, #front h3 {
		font-family: Georgia,Times New Roman,serif;
		font-weight: normal;
		font-style: italic;
	}
		#front h2 {
			margin-top: 20%;
			font-size: 1.6em;
		}
		#front h3 {
			font-size: 0.9em;
			word-spacing: 0.1em;
			line-height: 1.8em;
		}
			#front h3 ul {
				display: inline-block;
			}
#portfolio {
	background-color: #16577D;
	background-image: url('images/blueprint-bg.png');
	background-position: -1px -1px;
	color: #F4F1F1;
	text-shadow: 1px 1px 0px #092634;
}
	#portfolio ul li {
		list-style: none;
		margin-bottom: 80px;
	}
		#portfolio ul li img {
			width: 100%;
			max-width: 1100px;
			height: auto;
			border: 2px solid #FFDF00;
			margin-bottom: 10px;
		}
		#portfolio ul li h2 {
			font-size: 1.8em;
			margin-bottom: 10px;
		}
		#portfolio ul li p {
			font-size: 1.2em;
			line-height: 1.8em;
		}
		#portfolio ul li > a {
			font-size: 1.4em;
			margin-top: 10px;
			display: inline-block;
		}

#contact {
	background: rgb(255,252,252); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(255,252,252,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,252,252,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(255,252,252,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(255,252,252,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(255,252,252,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(255,252,252,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-bottom: none;
}
	#contact .col {
		width: 46%;
		display: inline-block;
		vertical-align: top;
	}
		#contact .about {
			margin-right: 2%;
			padding-right: 2%;
			border-right: 1px solid #333333;
		}
	#contact .about img {
		max-width: 50%;
		-webkit-transform: rotate(-4deg);
		   -moz-transform: rotate(-4deg);
		    -ms-transform: rotate(-4deg);
		     -o-transform: rotate(-4deg);
		        transform: rotate(-3deg);
		-webkit-box-shadow:  0px 6px 0px 0px #10425B;
        box-shadow:  0px 6px 0px 0px #10425B;
		border-radius: 20px;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	#contact .about p {
		font-size: 1.2em;
		line-height: 1.8em;
		margin-bottom: 2em;
	}
	#contact .fn {
		font-size: 1.4em;
		margin-bottom: 0.4em;
	}
	#contact .email {
		font-size: 1.1em;
		margin-bottom: 3.0em;
	}
		#contact .email a {
			margin-left: 8px;
			display: inline-block;
			vertical-align: top;
		}
		#contact .email:before {
			font-size: 1.8em;
		}
	.follow li {
		list-style: none;
		display: inline-block;
		font-size: 2.0em;
		position: relative;
		margin-right: 8px;
	}
		.follow li a {
			display: block;
			text-indent: -9999px;
			border: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
	.icon-twitter:hover {
		color: #00a0d1;
	}
	.icon-stackoverflow:hover {
		color: #FE7A15;
	}
	.icon-googleplus:hover {
		color: #db4a39;
	}
	.icon-github:hover {
		color: #4183c4;
	}
	.icon-vimeo:hover{
		color: #86c9ef;
	}
	.icon-reddit:hover {
		color: #FF4500;
	}
	.icon-skype:hover {
		color: #00aff0;
	}


@media screen and (max-height:600px) {
	body {
		font-size: 85%;
	}
	section {
		min-height: 450px;
	}
	#front h2 {
		margin-top: 10%;
	}
}
@media screen and (max-height: 500px) {
	section {
		min-height: 420px;
		padding: 40px 15%;
	}
	#front h2 {
		margin-top: 0;
	}
}
@media screen and (max-width: 900px) {
	body {
		font-size: 90%;
	}
	section {
		width: 92%;
		padding-left: 4%;
		padding-right: 4%;
	}
}
@media screen and (max-width: 660px) {
	body {
		font-size: 75%;
	}
	nav {
		font-size: 120%;
	}
		nav ul li {
			margin-right: 10px;
		}
}
@media screen and (max-width: 550px) {
	#front h1 span {
		display: block;
	}
}
@media screen and (max-width: 325px) {
	nav ul li {
		margin-right: 5px;
	}
	nav ul li a {
		padding: 0 4px;
	}
	#contact .col {
		display: block;
		border-right: none;
		width: 100%;
		margin: 0;
	}
		#contact .about {
			border-bottom: 1px solid #333333;
			margin-bottom: 20px;
		}
}