---
layout: default
title: Work
cssClass: portfolio
info: From websites to addons for Firefox
headerImg: portfolio.jpg
---
<ul class="portfolio-page-items">
{% for item in site.data.portfolio %}
	{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
	<li id="{{item.slug}}" class="{{thecycle}}">
		{% if thecycle == 'odd' %}
			<img src="/assets/portfolio/{{ item.img }}">
		{% endif %}
		<div class="info">
			<h3>{{item.name}}</h3>
			<div class="links">{{ item.url | markdownify }}</div>
			{{ item.info | markdownify }}
		</div>
		{% if thecycle == 'even' %}
			<img src="/assets/portfolio/{{ item.img }}">
		{% endif %}
	</li>
{% endfor %}
</ul>
<div class="wrap firefox-addons">
	<h2>Firefox Addons</h2>
	<p>Over the years I have created numerous addons to help the Internet do things more efficiently.</p>
	<ul class="list">
		{% for item in site.data.firefoxaddons %}
		<li><a href="{{item.url}}">{{item.name}}</a></li>
		{% endfor %}
	</uL>
</div>


