<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.url == "/index.html" %} {{ site.name }}, {{ page.title }} {% else %} {{ page.title }} &ndash; {{ site.name }} {% endif %}
    </title>
    <meta name="description" content="Bradley Rosenfeld is a professional web developer who believes that pixels are people too.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Bitter:700,400italic|Source+Sans+Pro:400,600,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  </head>
  <body class="layout-{{ page.layout | downcase }} {{ page.cssClass }}">
    <header class="site-header">
      <div class="wrap">
        <a href="/" class="logo" title="Go back home">
          <h1 class="name">Bradley Rosenfeld</h1>
          <h2 class="tagline">Professional Web Developer</h2>
        </a>
        <nav class="site-navigation">
          <button class="nav-toggle"><span class="sr-only">Open Menu</span></button>
          <ul>
            {% for link in site.navigation %}
              {% assign current = nil %}
              {% if page.url == link.fullurl or page.layout == link.layout %}
                {% assign current = 'current' %}
              {% endif %}
              <li class="{{ current }}">
                <a href="{{site.baseurl}}{{ link.url }}">{{ link.text }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>
