.post-list {
  margin: 60px auto;
  font-size: 90%;

  article {
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 5px;
    border-top: 1px solid #CCCCCC;

    header {
      font-size: 90%;
    }
    &:first-child {
      border-top: none;
    }
    p, .read-more {
      display: block;
    }
  }
}


article {
  &.full {
    margin: 60px auto;

    @media all and (max-width: 620px) {
      margin: 20px auto;
    }
  }

  header {
    font-size: 120%;
    margin-bottom: 1.5em;
  }
    .meta {
      color: #444;
      font-size: 0.7em;
      margin-top: 4px;
      margin-bottom: 10px;

      em {
        text-transform: uppercase;
        display: inline-block;
        margin-left: 20px;
      }
    }
    .blue & .meta {
      color: #CCC;
    }
  .post-content {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $red;

    img {
      max-width: 100%;
      display: block;
      margin: 1em 0;
    }
  }
    &.article-preview .post-content {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  blockquote {
    border-left: 4px solid #CCC;
    padding-left: 0.8em;
  }
  ul, ol {
    margin-bottom: 1.5em;
  }
    li {
      margin-bottom: 0.2em;
      padding-left: 0.4em;
      margin-left: -0.4em;
    }
  hr {
    margin: 1.5em 0;
    border-top: none;
    border-bottom: 2px solid #CCCCCC;
  }
}

.twitter-mention-button {
  display: inline-block;
  vertical-align: middle;
}

.pagination {
  padding-top: 30px;
  border-top: 1px solid #CCCCCC;
  margin-bottom: 60px;
  margin-top: -30px;
  font-size: 1.2em;
}