.contact {
  .content .wrap {
    margin-top: 40px;
    margin-bottom: 120px;
  }

  .left-col {
    display: inline-block;
    vertical-align: top;
    width: 64%;
    margin-right: 2%;

    h3 {
      margin-bottom: 0.5em;
    }

    @media all and (max-width: 590px) {
      width: 100%;
      margin: 0;
      display: block;
    }
  }

  .right-col {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    padding: 20px 0;
    padding-left: 2%;
    margin-left: 0.25em;
    border-left: 2px solid $red;

    a {
      font-size: 1.4em;
      &:before {
        margin-right: 5px;
      }
    }

    @media all and (max-width: 590px) {
      margin: 0;
      width: 100%;
      display: block;
      padding-left: 0;
      border-left: none;
      border-top: 2px solid $red;
    }
  }

  .follow li {
    font-size: 1.8em;
    list-style: none;
    display: inline-block;
    position: relative;
    margin-right: 0.8em;
    margin-bottom: 0.8em;
  }
  
  .follow a {
    display: block;
    text-indent: -9999px;
    border: medium none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: transparent;
    overflow: hidden;
  }
}