.portfolio {
  
  .img-logo {
    width: 6em;
    height: auto;
    margin-right: 2em;
    margin-bottom: 1em;
  }

  .firefox-addons {
    .img-logo,
    .addons-content {
      display: inline-block;
      vertical-align: top;
    }
    ul {
      list-style-position: inside;
    }
    &.wrap {
      margin: 60px auto;
      margin-top: 40px;
    }
    @media all and (max-width: 590px) {
      h2 {
        font-size: 1.6em;
      }
      .img-logo {
        display: none;
      }
      .addons-content {
        padding: 0 3%;
      }
    }
  }
}
.find-more-github {
  margin: 2.5em auto;

  a:before {
    font-size: 3em;
    margin-right: 0.3em;
  }

  @media screen and (max-width: 590px) {
    font-size: 1.5em;
  }

  @media screen and (max-width: 400px) {
    font-size: 1em;
  }
}

.portfolio-page-items {
  margin-top: 40px;

  li {
    list-style: none;
    margin-bottom: 1.5em;
    padding: 1em 0;

    /*Alternate images down the page*/
    &:nth-child(2n) img {
      float: right;
    }
  }

  img {
    width: 45%; 
    height: auto;
    float: left;
    vertical-align: top;
    margin-right: -0.25em;
    border: 2px solid $red;
    margin-bottom: 1em;
  }


  .info {
    width: 55%;
    display: inline-block;
    vertical-align: top;
    padding: 0 3%;
  }

  .links {
    margin-top: 0.6em;
    margin-bottom: 1.2em;
    border-bottom: 1px solid $red;
    padding-bottom: 0.4em;
    a {
      display: inline-block;
      margin-right: 20px;
    }
    p {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 590px) {
    img, .info {
      float: none;
      width: 100%;
    }
  }
}