$icon-uniE001: "\e001";
$icon-uniE002: "\e002";
$icon-uniE004: "\e004";
$icon-uniE600: "\e600";
$icon-uniE601: "\e601";
$icon-facebook-square: "\f082";
$icon-linkedin-square: "\f08c";
$icon-github-square: "\f092";
$icon-twitter: "\f099";
$icon-google-plus-square: "\f0d4";
$icon-vimeo-square: "\f194";
