---
layout: default
title: Portfolio
cssClass: portfolio
info: From websites to addons for Firefox
headerImg: portfolio.JPG
---
<a href="{{site.base_url}}/contact/" class="preview banner red">
  <div class="wrap">
    <p>Contact me to discuss your next web project!</p>
  </div>
</div>
<ul class="portfolio-page-items">
{% for item in site.data.portfolio %}
	{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
	<li id="{{item.slug}}" class="{{thecycle}}">
		{% if thecycle == 'odd' %}
			<img src="{{site.base_url}}/assets/portfolio/{{ item.img }}" alt="Image of {{ item.name }}">
		{% endif %}
		<div class="info">
			<h3>{{item.name}}</h3>
			<div class="links">{{ item.url | markdownify }}</div>
			{{ item.info | markdownify }}
		</div>
		{% if thecycle == 'even' %}
			<img src="{{site.base_url}}/assets/portfolio/{{ item.img }}" alt="Image of {{ item.name }}">
		{% endif %}
	</li>
{% endfor %}
</ul>
<div class="wrap firefox-addons">
	<h2>Firefox Addons</h2>
	<p>Over the years I have created numerous addons to help the Internet do things more efficiently.</p>
	<ul class="list">
		{% for item in site.data.firefoxaddons %}
		<li><a href="{{item.url}}">{{item.name}}</a></li>
		{% endfor %}
	</ul>
</div>
<h2 class="wrap find-more-github"><a href="http://github.com/BoringCode" class="icon-github">View more projects on GitHub</a></h2>


