{% include header.html %}
  <section>
    {% if page.info %}
    <header class="hero">
      <div class="wrap">
        <h2>{% if page.tagline %}
          {{ page.tagline }}
        {% else %}
          {{ page.title }}
        {% endif %}</h2>
        <div class="hero-info">{{ page.info | markdownify }}</div>
      </div>
      <canvas class="triangle-bg" id="triangle-target"></canvas>
      {% if page.headerImg %}
        <img src="{{site.baseurl}}/assets/header-images/{{ page.headerImg }}" class="bg" alt="Header background image">
      {% else %}
        <pre class="site-code language-html"></pre>
      {% endif %}
    </header>
    {% endif %}
    <div class="content">
      {{ content }}
    </div>
  </section>
{% include footer.html %}
